In [1]:
import findspark
findspark.init()

In [2]:
"""
Configure before creating SparkSession
"""

from pyspark.conf import SparkConf

config = SparkConf()
conf = \
(
    config
    .setMaster("spark://192.168.11.77:7077").setAppName("SparkDB")
    .set("spark.executor.memory", "2g")
    .set("spark.executor.cores", 4)
    .set("spark.cores.max", 4)
    .set("spark.driver.memory", "2g")
    .set("spark.local.dir", "C:/spark-temp")     # TEMPORARY HARDCODING: Spark's temp
    .set("spark.sql.warehouse.dir", "C:/spark")  # TEMPORARY HARDCODING: Spark's warehouse
)


from pyspark.sql import SparkSession

ss = (
    SparkSession
    .builder
    .config(conf=conf)
    .enableHiveSupport()
    .getOrCreate()
)

In [4]:
ss

In [5]:
ss.sql("SHOW DATABASES").show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [6]:
ss.sql("SHOW TABLES IN default").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [7]:
ss.sql("CREATE DATABASE IF NOT EXISTS product_db").show()

++
||
++
++

In [8]:
ss.sql("SHOW DATABASES").show()

+------------+
|databaseName|
+------------+
|     default|
|  product_db|
+------------+

In [9]:
ss.sql("USE product_db")

DataFrame[]

In [10]:
ss.sql("""
CREATE TABLE product(id Integer, name String)
""")

DataFrame[]

In [11]:
ss.sql("SHOW TABLES").show()

+----------+---------+-----------+
|  database|tableName|isTemporary|
+----------+---------+-----------+
|product_db|  product|      false|
+----------+---------+-----------+

In [18]:
ss.sql("TRUNCATE TABLE product").show()

++
||
++
++

In [20]:
ss.sql("INSERT INTO product VALUES(1, 'Xiaomi'), (2, 'S5'), (3, 'iPhone'), (4, 'iPad')").show()

++
||
++
++

In [21]:
ss.sql("SELECT * FROM product").show()

+---+------+
| id|  name|
+---+------+
|  1|Xiaomi|
|  2|    S5|
|  3|iPhone|
|  4|  iPad|
+---+------+

In [23]:
ss.table('product').show()

+---+------+
| id|  name|
+---+------+
|  1|Xiaomi|
|  2|    S5|
|  3|iPhone|
|  4|  iPad|
+---+------+

In [ ]:
"""
Global Managed Table
Spark maintains meta-data; Spark maintains data-records (we just performa CRUD operations)

Global Unmanaged/External Table
Spark maintains metadata; data ia managed by us/sql/tools.
Add new files, update, & delete files.

Global Temp View

Local Temp view/ Temp table

Permanent View

"""