In [2]:
# comment, [] to represent list
numbers = [10, 20, 30, 40, 50]
names = ['Spark', 'Python', 'HDFS']

In [3]:
print (numbers)

[10, 20, 30, 40, 50]

In [4]:
print(len(numbers))

5

In [5]:
print(len(names))

3

In [7]:
print (numbers[0])
print (numbers[4])

10
50

In [8]:
# read data from last when negative index used
print (names[-1])

HDFS

In [9]:
print (names[len(names) - 1])

HDFS

In [13]:
# range
print (numbers[0:])
print (numbers[0:2])
print (numbers[2:3])
print (numbers[0:-1])

[10, 20, 30, 40, 50]
[10, 20]
[30]
[10, 20, 30, 40]

In [16]:
10 in numbers

True

In [17]:
11 in numbers

False

In [18]:
40 not in numbers

False

In [19]:
44 not in numbers

True

In [20]:
# List is mutable
# list values can be changed
numbers[0] = 100
print(numbers)

[100, 20, 30, 40, 50]

In [21]:
# delete element by index 
del numbers[4]
print(numbers)

[100, 20, 30, 40]

In [22]:
# delete by element value
numbers.remove(30)
print(numbers)

[100, 20, 40]

In [23]:
# insert /append at end of the list
numbers.append(80)
print(numbers)

[100, 20, 40, 80]

In [24]:
# insert between 
numbers.insert(2, 35)
print(numbers)

[100, 20, 35, 40, 80]

In [25]:
numbers.reverse()
print(numbers)

[80, 40, 35, 20, 100]

In [26]:
[10, 20, 30] +  numbers

[10, 20, 30, 80, 40, 35, 20, 100]

In [2]:
['Hi'] * 3
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [28]:
numbers

[80, 40, 35, 20, 100]

In [29]:
# return and remove the last element
ln = numbers.pop()
print(ln)
print(numbers)

100
[80, 40, 35, 20]