In [2]:
# tuple is collection of objects, IMMUTABLE
# tuple are defined using () 

empty = ()
type (empty)

tuple

In [3]:
tup1 = ('Python') # this treats each char as element
t2  = ('Python',) # making Python as single element
tup2 = (10, 20, 30, 40, 50)
# accessing tuple elements is same as list
print(len(empty))
print(len(tup1)) # 6
print(len(t2)) # 1
print(len(tup2))

print(tup1)
print(t2)

0
6
1
5
Python
('Python',)

In [5]:
tup3 = (10, 20, 30, 40, 50)
print(tup3[0])
print(tup3[-1])
print(tup3[0:2])
print (tup3[0:-1])

10
50
(10, 20)
(10, 20, 30, 40)

In [7]:
# update, delete, append won't work, since it is immutable
10 in tup3

True

In [8]:
12 not in tup3

True

In [9]:
# easily convert list to tuple, tuple to list
# convert tuple to list
list2 = list(tup3)
print(list2)

[10, 20, 30, 40, 50]

In [10]:
l = [100,200,300,400]
t5 = tuple(l)
print(t5)

(100, 200, 300, 400)