In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]")\
                            .appName("DFApp").getOrCreate()

In [3]:
from pyspark.sql.types import StructType, LongType,StringType, IntegerType, DoubleType

movieSchema = StructType()\
         .add("movieId", IntegerType(), True)\
         .add("title", StringType(), True)\
         .add("genres", StringType(), True)\


ratingSchema = StructType()\
         .add("userId", IntegerType(), True)\
         .add("movieId", IntegerType(), True)\
         .add("rating", DoubleType(), True)\
         .add("timestamp", StringType(), True)\

In [4]:
movieDf = spark.read.format("csv")\
          .option("header", True)\
          .schema(movieSchema)\
          .load("file:///c:/data/movies.csv")

ratingDf = spark.read.format("csv")\
          .option("header", True)\
          .schema(ratingSchema)\
          .load("file:///c:/data/ratings.csv")

In [5]:
movieDf.show(2)
ratingDf.show(2)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
+------+-------+------+---------+
only showing top 2 rows

In [6]:
# out of all 4 columns, we pick below 2 columns
df2 = ratingDf.select("movieId", "rating")
df2.show(2)

+-------+------+
|movieId|rating|
+-------+------+
|      1|   4.0|
|      3|   4.0|
+-------+------+
only showing top 2 rows

In [7]:
# count

print("Count ", ratingDf.count())

Count  100836

In [8]:
# to get all columns
print("Columns", ratingDf.columns)
# schema
print(ratingDf.schema)

Columns ['userId', 'movieId', 'rating', 'timestamp']
StructType(List(StructField(userId,IntegerType,true),StructField(movieId,IntegerType,true),StructField(rating,DoubleType,true),StructField(timestamp,StringType,true)))

In [9]:
# create and return new dataframe with 2 columns movieId, rating
df3 = ratingDf.select("movieId", "rating")
df3.printSchema()
df3.show(2)

root
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)

+-------+------+
|movieId|rating|
+-------+------+
|      1|   4.0|
|      3|   4.0|
+-------+------+
only showing top 2 rows

In [10]:
movieDf.collect()

[Row(movieId=1, title='Toy Story (1995)', genres='Adventure|Animation|Children|Comedy|Fantasy'),
 Row(movieId=2, title='Jumanji (1995)', genres='Adventure|Children|Fantasy'),
 Row(movieId=3, title='Grumpier Old Men (1995)', genres='Comedy|Romance'),
 Row(movieId=4, title='Waiting to Exhale (1995)', genres='Comedy|Drama|Romance'),
 Row(movieId=5, title='Father of the Bride Part II (1995)', genres='Comedy'),
 Row(movieId=6, title='Heat (1995)', genres='Action|Crime|Thriller'),
 Row(movieId=7, title='Sabrina (1995)', genres='Comedy|Romance'),
 Row(movieId=8, title='Tom and Huck (1995)', genres='Adventure|Children'),
 Row(movieId=9, title='Sudden Death (1995)', genres='Action'),
 Row(movieId=10, title='GoldenEye (1995)', genres='Action|Adventure|Thriller'),
 Row(movieId=11, title='American President, The (1995)', genres='Comedy|Drama|Romance'),
 Row(movieId=12, title='Dracula: Dead and Loving It (1995)', genres='Comedy|Horror'),
 Row(movieId=13, title='Balto (1995)', genres='Adventure|Animation|Children'),
 Row(movieId=14, title='Nixon (1995)', genres='Drama'),
 Row(movieId=15, title='Cutthroat Island (1995)', genres='Action|Adventure|Romance'),
 Row(movieId=16, title='Casino (1995)', genres='Crime|Drama'),
 Row(movieId=17, title='Sense and Sensibility (1995)', genres='Drama|Romance'),
 Row(movieId=18, title='Four Rooms (1995)', genres='Comedy'),
 Row(movieId=19, title='Ace Ventura: When Nature Calls (1995)', genres='Comedy'),
 Row(movieId=20, title='Money Train (1995)', genres='Action|Comedy|Crime|Drama|Thriller'),
 Row(movieId=21, title='Get Shorty (1995)', genres='Comedy|Crime|Thriller'),
 Row(movieId=22, title='Copycat (1995)', genres='Crime|Drama|Horror|Mystery|Thriller'),
 Row(movieId=23, title='Assassins (1995)', genres='Action|Crime|Thriller'),
 Row(movieId=24, title='Powder (1995)', genres='Drama|Sci-Fi'),
 Row(movieId=25, title='Leaving Las Vegas (1995)', genres='Drama|Romance'),
 Row(movieId=26, title='Othello (1995)', genres='Drama'),
 Row(movieId=27, title='Now and Then (1995)', genres='Children|Drama'),
 Row(movieId=28, title='Persuasion (1995)', genres='Drama|Romance'),
 Row(movieId=29, title='City of Lost Children, The (Cit√© des enfants perdus, La) (1995)', genres='Adventure|Drama|Fantasy|Mystery|Sci-Fi'),
 Row(movieId=30, title='Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)', genres='Crime|Drama'),
 Row(movieId=31, title='Dangerous Minds (1995)', genres='Drama'),
 Row(movieId=32, title='Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', genres='Mystery|Sci-Fi|Thriller'),
 Row(movieId=34, title='Babe (1995)', genres='Children|Drama'),
 Row(movieId=36, title='Dead Man Walking (1995)', genres='Crime|Drama'),
 Row(movieId=38, title='It Takes Two (1995)', genres='Children|Comedy'),
 Row(movieId=39, title='Clueless (1995)', genres='Comedy|Romance'),
 Row(movieId=40, title='Cry, the Beloved Country (1995)', genres='Drama'),
 Row(movieId=41, title='Richard III (1995)', genres='Drama|War'),
 Row(movieId=42, title='Dead Presidents (1995)', genres='Action|Crime|Drama'),
 Row(movieId=43, title='Restoration (1995)', genres='Drama'),
 Row(movieId=44, title='Mortal Kombat (1995)', genres='Action|Adventure|Fantasy'),
 Row(movieId=45, title='To Die For (1995)', genres='Comedy|Drama|Thriller'),
 Row(movieId=46, title='How to Make an American Quilt (1995)', genres='Drama|Romance'),
 Row(movieId=47, title='Seven (a.k.a. Se7en) (1995)', genres='Mystery|Thriller'),
 Row(movieId=48, title='Pocahontas (1995)', genres='Animation|Children|Drama|Musical|Romance'),
 Row(movieId=49, title='When Night Is Falling (1995)', genres='Drama|Romance'),
 Row(movieId=50, title='Usual Suspects, The (1995)', genres='Crime|Mystery|Thriller'),
 Row(movieId=52, title='Mighty Aphrodite (1995)', genres='Comedy|Drama|Romance'),
 Row(movieId=53, title='Lamerica (1994)', genres='Adventure|Drama'),
 Row(movieId=54, title='Big Green, The (1995)', genres='Children|Comedy'),
 Row(movieId=55, title='Georgia (1995)', genres='Drama'),
 Row(movieId=57, title='Home for the Holidays (1995)', genres='Drama'),
 Row(movieId=58, title='Postman, The (Postino, Il) (1994)', genres='Comedy|Drama|Romance'),
 Row(movieId=60, title='Indian in the Cupboard, The (1995)', genres='Adventure|Children|Fantasy'),
 Row(movieId=61, title='Eye for an Eye (1996)', genres='Drama|Thriller'),
 Row(movieId=62, title="Mr. Holland's Opus (1995)", genres='Drama'),
 Row(movieId=63, title="Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)", genres='Comedy|Crime'),
 Row(movieId=64, title='Two if by Sea (1996)', genres='Comedy|Romance'),
 Row(movieId=65, title='Bio-Dome (1996)', genres='Comedy'),
 Row(movieId=66, title='Lawnmower Man 2: Beyond Cyberspace (1996)', genres='Action|Sci-Fi|Thriller'),
 Row(movieId=68, title='French Twist (Gazon maudit) (1995)', genres='Comedy|Romance'),
 Row(movieId=69, title='Friday (1995)', genres='Comedy'),
 Row(movieId=70, title='From Dusk Till Dawn (1996)', genres='Action|Comedy|Horror|Thriller'),
 Row(movieId=71, title='Fair Game (1995)', genres='Action'),
 Row(movieId=72, title='Kicking and Screaming (1995)', genres='Comedy|Drama'),
 Row(movieId=73, title='Mis√©rables, Les (1995)', genres='Drama|War'),
 Row(movieId=74, title='Bed of Roses (1996)', genres='Drama|Romance'),
 Row(movieId=75, title='Big Bully (1996)', genres='Comedy|Drama'),
 Row(movieId=76, title='Screamers (1995)', genres='Action|Sci-Fi|Thriller'),
 Row(movieId=77, title='Nico Icon (1995)', genres='Documentary'),
 Row(movieId=78, title='Crossing Guard, The (1995)', genres='Action|Crime|Drama|Thriller'),
 Row(movieId=79, title='Juror, The (1996)', genres='Drama|Thriller'),
 Row(movieId=80, title='White Balloon, The (Badkonake sefid) (1995)', genres='Children|Drama'),
 Row(movieId=81, title="Things to Do in Denver When You're Dead (1995)", genres='Crime|Drama|Romance'),
 Row(movieId=82, title="Antonia's Line (Antonia) (1995)", genres='Comedy|Drama'),
 Row(movieId=83, title='Once Upon a Time... When We Were Colored (1995)', genres='Drama|Romance'),
 Row(movieId=85, title='Angels and Insects (1995)', genres='Drama|Romance'),
 Row(movieId=86, title='White Squall (1996)', genres='Action|Adventure|Drama'),
 Row(movieId=87, title='Dunston Checks In (1996)', genres='Children|Comedy'),
 Row(movieId=88, title='Black Sheep (1996)', genres='Comedy'),
 Row(movieId=89, title='Nick of Time (1995)', genres='Action|Thriller'),
 Row(movieId=92, title='Mary Reilly (1996)', genres='Drama|Horror|Thriller'),
 Row(movieId=93, title='Vampire in Brooklyn (1995)', genres='Comedy|Horror|Romance'),
 Row(movieId=94, title='Beautiful Girls (1996)', genres='Comedy|Drama|Romance'),
 Row(movieId=95, title='Broken Arrow (1996)', genres='Action|Adventure|Thriller'),
 Row(movieId=96, title='In the Bleak Midwinter (1995)', genres='Comedy|Drama'),
 Row(movieId=97, title='Hate (Haine, La) (1995)', genres='Crime|Drama'),
 Row(movieId=99, title='Heidi Fleiss: Hollywood Madam (1995)', genres='Documentary'),
 Row(movieId=100, title='City Hall (1996)', genres='Drama|Thriller'),
 Row(movieId=101, title='Bottle Rocket (1996)', genres='Adventure|Comedy|Crime|Romance'),
 Row(movieId=102, title='Mr. Wrong (1996)', genres='Comedy'),
 Row(movieId=103, title='Unforgettable (1996)', genres='Mystery|Sci-Fi|Thriller'),
 Row(movieId=104, title='Happy Gilmore (1996)', genres='Comedy'),
 Row(movieId=105, title='Bridges of Madison County, The (1995)', genres='Drama|Romance'),
 Row(movieId=106, title='Nobody Loves Me (Keiner liebt mich) (1994)', genres='Comedy|Drama'),
 Row(movieId=107, title='Muppet Treasure Island (1996)', genres='Adventure|Children|Comedy|Musical'),
 Row(movieId=108, title='Catwalk (1996)', genres='Documentary'),
 Row(movieId=110, title='Braveheart (1995)', genres='Action|Drama|War'),
 Row(movieId=111, title='Taxi Driver (1976)', genres='Crime|Drama|Thriller'),
 Row(movieId=112, title='Rumble in the Bronx (Hont faan kui) (1995)', genres='Action|Adventure|Comedy|Crime'),
 Row(movieId=113, title='Before and After (1996)', genres='Drama|Mystery'),
 Row(movieId=116, title='Anne Frank Remembered (1995)', genres='Documentary'),
 Row(movieId=117, title="Young Poisoner's Handbook, The (1995)", genres='Crime|Drama'),
 Row(movieId=118, title='If Lucy Fell (1996)', genres='Comedy|Romance'),
 Row(movieId=119, title='Steal Big, Steal Little (1995)', genres='Comedy'),
 Row(movieId=121, title='Boys of St. Vincent, The (1992)', genres='Drama'),
 Row(movieId=122, title='Boomerang (1992)', genres='Comedy|Romance'),
 Row(movieId=123, title='Chungking Express (Chung Hing sam lam) (1994)', genres='Drama|Mystery|Romance'),
 Row(movieId=125, title='Flirting With Disaster (1996)', genres='Comedy'),
 Row(movieId=126, title='NeverEnding Story III, The (1994)', genres='Adventure|Children|Fantasy'),
 Row(movieId=128, title="Jupiter's Wife (1994)", genres='Documentary'),
 Row(movieId=129, title='Pie in the Sky (1996)', genres='Comedy|Romance'),
 Row(movieId=132, title='Jade (1995)', genres='Thriller'),
 Row(movieId=135, title='Down Periscope (1996)', genres='Comedy'),
 Row(movieId=137, title='Man of the Year (1995)', genres='Documentary'),
 Row(movieId=140, title='Up Close and Personal (1996)', genres='Drama|Romance'),
 Row(movieId=141, title='Birdcage, The (1996)', genres='Comedy'),
 Row(movieId=144, title='Brothers McMullen, The (1995)', genres='Comedy'),
 Row(movieId=145, title='Bad Boys (1995)', genres='Action|Comedy|Crime|Drama|Thriller'),
 Row(movieId=146, title='Amazing Panda Adventure, The (1995)', genres='Adventure|Children'),
 Row(movieId=147, title='Basketball Diaries, The (1995)', genres='Drama'),
 Row(movieId=148, title='Awfully Big Adventure, An (1995)', genres='Drama'),
 Row(movieId=149, title='Amateur (1994)', genres='Crime|Drama|Thriller'),
 Row(movieId=150, title='Apollo 13 (1995)', genres='Adventure|Drama|IMAX'),
 Row(movieId=151, title='Rob Roy (1995)', genres='Action|Drama|Romance|War'),
 Row(movieId=152, title='Addiction, The (1995)', genres='Drama|Horror'),
 Row(movieId=153, title='Batman Forever (1995)', genres='Action|Adventure|Comedy|Crime'),
 Row(movieId=154, title='Beauty of the Day (Belle de jour) (1967)', genres='Drama'),
 Row(movieId=155, title='Beyond Rangoon (1995)', genres='Adventure|Drama|War'),
 Row(movieId=156, title='Blue in the Face (1995)', genres='Comedy|Drama'),
 Row(movieId=157, title='Canadian Bacon (1995)', genres='Comedy|War'),
 Row(movieId=158, title='Casper (1995)', genres='Adventure|Children'),
 Row(movieId=159, title='Clockers (1995)', genres='Crime|Drama|Mystery'),
 Row(movieId=160, title='Congo (1995)', genres='Action|Adventure|Mystery|Sci-Fi'),
 Row(movieId=161, title='Crimson Tide (1995)', genres='Drama|Thriller|War'),
 Row(movieId=162, title='Crumb (1994)', genres='Documentary'),
 Row(movieId=163, title='Desperado (1995)', genres='Action|Romance|Western'),
 Row(movieId=164, title='Devil in a Blue Dress (1995)', genres='Crime|Film-Noir|Mystery|Thriller'),
 Row(movieId=165, title='Die Hard: With a Vengeance (1995)', genres='Action|Crime|Thriller'),
 Row(movieId=166, title='Doom Generation, The (1995)', genres='Comedy|Crime|Drama'),
 Row(movieId=168, title='First Knight (1995)', genres='Action|Drama|Romance'),
 Row(movieId=169, title='Free Willy 2: The Adventure Home (1995)', genres='Adventure|Children|Drama'),
 Row(movieId=170, title='Hackers (1995)', genres='Action|Adventure|Crime|Thriller'),
 Row(movieId=171, title='Jeffrey (1995)', genres='Comedy|Drama'),
 Row(movieId=172, title='Johnny Mnemonic (1995)', genres='Action|Sci-Fi|Thriller'),
 Row(movieId=173, title='Judge Dredd (1995)', genres='Action|Crime|Sci-Fi'),
 Row(movieId=174, title='Jury Duty (1995)', genres='Comedy'),
 Row(movieId=175, title='Kids (1995)', genres='Drama'),
 Row(movieId=176, title='Living in Oblivion (1995)', genres='Comedy'),
 Row(movieId=177, title='Lord of Illusions (1995)', genres='Horror'),
 Row(movieId=178, title='Love & Human Remains (1993)', genres='Comedy|Drama'),
 Row(movieId=179, title='Mad Love (1995)', genres='Drama|Romance'),
 Row(movieId=180, title='Mallrats (1995)', genres='Comedy|Romance'),
 Row(movieId=181, title='Mighty Morphin Power Rangers: The Movie (1995)', genres='Action|Children'),
 Row(movieId=183, title='Mute Witness (1994)', genres='Comedy|Horror|Thriller'),
 Row(movieId=184, title='Nadja (1994)', genres='Drama'),
 Row(movieId=185, title='Net, The (1995)', genres='Action|Crime|Thriller'),
 Row(movieId=186, title='Nine Months (1995)', genres='Comedy|Romance'),
 Row(movieId=187, title='Party Girl (1995)', genres='Comedy'),
 Row(movieId=188, title='Prophecy, The (1995)', genres='Fantasy|Horror|Mystery'),
 Row(movieId=189, title='Reckless (1995)', genres='Comedy|Fantasy'),
 Row(movieId=190, title='Safe (1995)', genres='Thriller'),
 Row(movieId=191, title='Scarlet Letter, The (1995)', genres='Drama|Romance'),
 Row(movieId=193, title='Showgirls (1995)', genres='Drama'),
 Row(movieId=194, title='Smoke (1995)', genres='Comedy|Drama'),
 Row(movieId=195, title='Something to Talk About (1995)', genres='Comedy|Drama|Romance'),
 Row(movieId=196, title='Species (1995)', genres='Horror|Sci-Fi'),
 Row(movieId=198, title='Strange Days (1995)', genres='Action|Crime|Drama|Mystery|Sci-Fi|Thriller'),
 Row(movieId=199, title='Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)', genres='Drama|Musical|Romance'),
 Row(movieId=201, title='Three Wishes (1995)', genres='Drama|Fantasy'),
 Row(movieId=202, title='Total Eclipse (1995)', genres='Drama|Romance'),
 Row(movieId=203, title='To Wong Foo, Thanks for Everything! Julie Newmar (1995)', genres='Comedy'),
 Row(movieId=204, title='Under Siege 2: Dark Territory (1995)', genres='Action'),
 Row(movieId=205, title='Unstrung Heroes (1995)', genres='Comedy|Drama'),
 Row(movieId=206, title='Unzipped (1995)', genres='Documentary'),
 Row(movieId=207, title='Walk in the Clouds, A (1995)', genres='Drama|Romance'),
 Row(movieId=208, title='Waterworld (1995)', genres='Action|Adventure|Sci-Fi'),
 Row(movieId=209, title="White Man's Burden (1995)", genres='Drama'),
 Row(movieId=210, title='Wild Bill (1995)', genres='Western'),
 Row(movieId=211, title='Browning Version, The (1994)', genres='Drama'),
 Row(movieId=212, title='Bushwhacked (1995)', genres='Adventure|Comedy|Crime|Mystery'),
 Row(movieId=213, title='Burnt by the Sun (Utomlyonnye solntsem) (1994)', genres='Drama'),
 Row(movieId=214, title='Before the Rain (Pred dozhdot) (1994)', genres='Drama|War'),
 Row(movieId=215, title='Before Sunrise (1995)', genres='Drama|Romance'),
 Row(movieId=216, title='Billy Madison (1995)', genres='Comedy'),
 Row(movieId=217, title='Babysitter, The (1995)', genres='Drama|Thriller'),
 Row(movieId=218, title='Boys on the Side (1995)', genres='Comedy|Drama'),
 Row(movieId=219, title='Cure, The (1995)', genres='Drama'),
 Row(movieId=220, title='Castle Freak (1995)', genres='Horror'),
 Row(movieId=222, title='Circle of Friends (1995)', genres='Drama|Romance'),
 Row(movieId=223, title='Clerks (1994)', genres='Comedy'),
 Row(movieId=224, title='Don Juan DeMarco (1995)', genres='Comedy|Drama|Romance'),
 Row(movieId=225, title='Disclosure (1994)', genres='Drama|Thriller'),
 Row(movieId=227, title='Drop Zone (1994)', genres='Action|Thriller'),
 Row(movieId=228, title='Destiny Turns on the Radio (1995)', genres='Comedy'),
 Row(movieId=229, title='Death and the Maiden (1994)', genres='Drama|Thriller'),
 Row(movieId=230, title='Dolores Claiborne (1995)', genres='Drama|Thriller'),
 Row(movieId=231, title='Dumb & Dumber (Dumb and Dumber) (1994)', genres='Adventure|Comedy'),
 Row(movieId=232, title='Eat Drink Man Woman (Yin shi nan nu) (1994)', genres='Comedy|Drama|Romance'),
 Row(movieId=233, title='Exotica (1994)', genres='Drama'),
 Row(movieId=234, title='Exit to Eden (1994)', genres='Comedy'),
 Row(movieId=235, title='Ed Wood (1994)', genres='Comedy|Drama'),
 Row(movieId=236, title='French Kiss (1995)', genres='Action|Comedy|Romance'),
 Row(movieId=237, title='Forget Paris (1995)', genres='Comedy|Romance'),
 Row(movieId=238, title='Far From Home: The Adventures of Yellow Dog (1995)', genres='Adventure|Children'),
 Row(movieId=239, title='Goofy Movie, A (1995)', genres='Animation|Children|Comedy|Romance'),
 Row(movieId=240, title='Hideaway (1995)', genres='Thriller'),
 Row(movieId=241, title='Fluke (1995)', genres='Children|Drama'),
 Row(movieId=242, title='Farinelli: il castrato (1994)', genres='Drama|Musical'),
 Row(movieId=243, title='Gordy (1995)', genres='Children|Comedy|Fantasy'),
 Row(movieId=246, title='Hoop Dreams (1994)', genres='Documentary'),
 Row(movieId=247, title='Heavenly Creatures (1994)', genres='Crime|Drama'),
 Row(movieId=248, title='Houseguest (1994)', genres='Comedy'),
 Row(movieId=249, title='Immortal Beloved (1994)', genres='Drama|Romance'),
 Row(movieId=250, title='Heavyweights (Heavy Weights) (1995)', genres='Children|Comedy'),
 Row(movieId=251, title='Hunted, The (1995)', genres='Action'),
 Row(movieId=252, title='I.Q. (1994)', genres='Comedy|Romance'),
 Row(movieId=253, title='Interview with the Vampire: The Vampire Chronicles (1994)', genres='Drama|Horror'),
 Row(movieId=254, title='Jefferson in Paris (1995)', genres='Drama'),
 Row(movieId=255, title='Jerky Boys, The (1995)', genres='Comedy'),
 Row(movieId=256, title='Junior (1994)', genres='Comedy|Sci-Fi'),
 Row(movieId=257, title='Just Cause (1995)', genres='Mystery|Thriller'),
 Row(movieId=258, title="Kid in King Arthur's Court, A (1995)", genres='Adventure|Children|Comedy|Fantasy|Romance'),
 Row(movieId=259, title='Kiss of Death (1995)', genres='Crime|Drama|Thriller'),
 Row(movieId=260, title='Star Wars: Episode IV - A New Hope (1977)', genres='Action|Adventure|Sci-Fi'),
 Row(movieId=261, title='Little Women (1994)', genres='Drama'),
 Row(movieId=262, title='Little Princess, A (1995)', genres='Children|Drama'),
 Row(movieId=263, title='Ladybird Ladybird (1994)', genres='Drama'),
 Row(movieId=265, title='Like Water for Chocolate (Como agua para chocolate) (1992)', genres='Drama|Fantasy|Romance'),
 Row(movieId=266, title='Legends of the Fall (1994)', genres='Drama|Romance|War|Western'),
 Row(movieId=267, title='Major Payne (1995)', genres='Comedy'),
 Row(movieId=269, title='My Crazy Life (Mi vida loca) (1993)', genres='Drama'),
 Row(movieId=270, title='Love Affair (1994)', genres='Drama|Romance'),
 Row(movieId=271, title='Losing Isaiah (1995)', genres='Drama'),
 Row(movieId=272, title='Madness of King George, The (1994)', genres='Comedy|Drama'),
 Row(movieId=273, title="Mary Shelley's Frankenstein (Frankenstein) (1994)", genres='Drama|Horror|Sci-Fi'),
 Row(movieId=274, title='Man of the House (1995)', genres='Comedy'),
 Row(movieId=275, title='Mixed Nuts (1994)', genres='Comedy'),
 Row(movieId=276, title='Milk Money (1994)', genres='Comedy|Romance'),
 Row(movieId=277, title='Miracle on 34th Street (1994)', genres='Drama'),
 Row(movieId=278, title='Miami Rhapsody (1995)', genres='Comedy'),
 Row(movieId=279, title='My Family (1995)', genres='Drama'),
 Row(movieId=280, title='Murder in the First (1995)', genres='Drama|Thriller'),
 Row(movieId=281, title="Nobody's Fool (1994)", genres='Comedy|Drama|Romance'),
 Row(movieId=282, title='Nell (1994)', genres='Drama'),
 Row(movieId=283, title='New Jersey Drive (1995)', genres='Crime|Drama'),
 Row(movieId=284, title='New York Cop (Ny√ª Y√¥ku no koppu) (1993)', genres='Action|Crime'),
 Row(movieId=285, title='Beyond Bedlam (1993)', genres='Drama|Horror'),
 Row(movieId=287, title='Nina Takes a Lover (1994)', genres='Comedy|Romance'),
 Row(movieId=288, title='Natural Born Killers (1994)', genres='Action|Crime|Thriller'),
 Row(movieId=289, title='Only You (1994)', genres='Comedy|Romance'),
 Row(movieId=290, title='Once Were Warriors (1994)', genres='Crime|Drama'),
 Row(movieId=291, title='Poison Ivy II (1996)', genres='Drama|Thriller'),
 Row(movieId=292, title='Outbreak (1995)', genres='Action|Drama|Sci-Fi|Thriller'),
 Row(movieId=293, title='L√©on: The Professional (a.k.a. The Professional) (L√©on) (1994)', genres='Action|Crime|Drama|Thriller'),

In [11]:
movieDf.take(2)

[Row(movieId=1, title='Toy Story (1995)', genres='Adventure|Animation|Children|Comedy|Fantasy'),
 Row(movieId=2, title='Jumanji (1995)', genres='Adventure|Children|Fantasy')]

In [12]:
ratingDf.show(1)
# add new columns/drive new columns from existing data
df3 = ratingDf.withColumn("rating_adjusted", ratingDf.rating + .2  )
df3.show(1)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
+------+-------+------+---------+
only showing top 1 row

+------+-------+------+---------+---------------+
|userId|movieId|rating|timestamp|rating_adjusted|
+------+-------+------+---------+---------------+
|     1|      1|   4.0|964982703|            4.2|
+------+-------+------+---------+---------------+
only showing top 1 row

In [13]:
ratingDf.show(1)
# rename the column in the df
# existing col, new column
df2 = ratingDf.withColumnRenamed("rating", "ratings")
df2.show(1)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
+------+-------+------+---------+
only showing top 1 row

+------+-------+-------+---------+
|userId|movieId|ratings|timestamp|
+------+-------+-------+---------+
|     1|      1|    4.0|964982703|
+------+-------+-------+---------+
only showing top 1 row

In [14]:
# select variance
# select all columns
df2 = ratingDf.select("*")
df2.show(1)
df2 = ratingDf.select("movieId", "rating")
df2.show(1)
# use .alias to give a name
df2 = ratingDf.select(ratingDf.userId, 
                     (ratingDf.rating + 0.2).alias("rating_adjusted") )
df2.show(1)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
+------+-------+------+---------+
only showing top 1 row

+-------+------+
|movieId|rating|
+-------+------+
|      1|   4.0|
+-------+------+
only showing top 1 row

+------+---------------+
|userId|rating_adjusted|
+------+---------------+
|     1|            4.2|
+------+---------------+
only showing top 1 row

In [15]:
# filter, apply predicates/conditions
# filter, where functions. where is an alias of filter, both are same
df2 = ratingDf.filter(ratingDf.rating > 4)
df2.show(3)

df2 = ratingDf.where(ratingDf.rating > 4)
df2.show(3)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|    101|   5.0|964980868|
+------+-------+------+---------+
only showing top 3 rows

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|    101|   5.0|964980868|
+------+-------+------+---------+
only showing top 3 rows

In [16]:
# multiple conditions
df2 = ratingDf.filter( (ratingDf.rating >=3) & (ratingDf.rating <=4))
df2.show(4)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     70|   3.0|964982400|
+------+-------+------+---------+
only showing top 4 rows

In [17]:
from pyspark.sql.functions import col

df2 = ratingDf.filter( (col("rating") >=3) & (col("rating") <=4))
df2.show(4)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     70|   3.0|964982400|
+------+-------+------+---------+
only showing top 4 rows

In [18]:
from pyspark.sql.functions import col, asc, desc
# sort data by ascending order/ default
df2 = ratingDf.sort("rating")
df2.show(5)
# sort data by ascending by explitly
df2 = ratingDf.sort(asc("rating"))
df2.show(5)
# sort data by descending order
df2 = ratingDf.sort(desc("rating"))
df2.show(5)

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     3|     31|   0.5|1306463578|
|     3|    914|   0.5|1306463567|
|     3|    527|   0.5|1306464275|
|     3|    688|   0.5|1306464228|
|     3|    720|   0.5|1306463595|
+------+-------+------+----------+
only showing top 5 rows

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     3|     31|   0.5|1306463578|
|     3|    914|   0.5|1306463567|
|     3|    527|   0.5|1306464275|
|     3|    688|   0.5|1306464228|
|     3|    720|   0.5|1306463595|
+------+-------+------+----------+
only showing top 5 rows

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|     1|    101|   5.0|964980868|
|     1|    216|   5.0|964981208|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|     47|   5.0|964983815|
+------+-------+------+---------+
only showing top 5 rows

In [29]:
# aggregation count
from pyspark.sql.functions import col, desc, avg, count
# count, groupBy
# a movie, rated by more users, dones't count avg rating
# filter, ensure that total_ratings >= 100 users
mostPopularDf = ratingDf\
                .groupBy("movieId")\
                .agg(count("userId"))\
                .withColumnRenamed("count(userId)", "total_ratings")\
                .filter(col("total_ratings") >= 100)\                
                .sort(desc("total_ratings"))\
                

mostPopularDf.show(200)

+-------+-------------+
|movieId|total_ratings|
+-------+-------------+
|    356|          329|
|    318|          317|
|    296|          307|
|    593|          279|
|   2571|          278|
|    260|          251|
|    480|          238|
|    110|          237|
|    589|          224|
|    527|          220|
|   2959|          218|
|      1|          215|
|   1196|          211|
|     50|          204|
|   2858|          204|
|     47|          203|
|    780|          202|
|    150|          201|
|   1198|          200|
|   4993|          198|
|   1210|          196|
|    858|          192|
|    457|          190|
|    592|          189|
|   5952|          188|
|   2028|          188|
|   7153|          185|
|    588|          183|
|    608|          181|
|   2762|          179|
|    380|          178|
|     32|          177|
|    364|          172|
|    377|          171|
|   1270|          171|
|   4306|          170|
|   3578|          170|
|   1580|          165|
|    590|          164|
|    648|          162|
|    344|          161|
|   4226|          159|
|    367|          157|
|   6539|          149|
|  58559|          149|
|   1214|          146|
|    595|          146|
|   1036|          145|
|    500|          144|
|    165|          144|
|  79132|          143|
|   1265|          143|
|   1197|          142|
|   1704|          141|
|   6377|          141|
|   2628|          140|
|   1721|          140|
|   1291|          140|
|    316|          140|
|    153|          137|
|   1136|          136|
|    597|          135|
|   3793|          133|
|   1193|          133|
|    231|          133|
|    293|          133|
|     10|          132|
|   4886|          132|
|   7361|          131|
|   6874|          131|
|   1089|          131|
|   1240|          131|
|   1221|          129|
|   2329|          129|
|     34|          128|
|   1200|          126|
|   1213|          126|
|   8961|          125|
|   1682|          125|
|    541|          124|
|    736|          123|
|   4995|          123|
|   5349|          122|
|   1097|          122|
|    733|          121|
|   2683|          121|
|   5445|          120|
|   4973|          120|
|   1206|          120|
|   2716|          120|
|   4963|          119|
|   1073|          119|
|  33794|          116|
|   1527|          116|
|    586|          116|
|   5989|          115|
|    587|          115|
|    208|          115|
|   1968|          113|
|   5418|          112|
|    185|          112|
|   3147|          111|
|    349|          110|
|      2|          110|
|   7438|          110|
|   3996|          110|
|    924|          109|
|   1258|          109|
|   2918|          109|
|   4878|          109|
|    253|          109|
|    329|          108|
|   2115|          108|
|   4896|          107|
|   1208|          107|
|  48516|          107|
|   1732|          106|
|    539|          106|
|   1923|          105|
|  68954|          105|
|     39|          104|
|    111|          104|
|    223|          104|
|  60069|          104|
|    161|          103|
|    357|          103|
|   2706|          103|
|      6|          102|
|   5816|          102|
|   1222|          102|
|    778|          102|
|    434|          101|
|    292|          101|
|    454|          101|
|    912|          100|
|   4022|          100|
|   1517|          100|
|  44191|          100|
+-------+-------------+

In [30]:
movieDf.show(2)

+-------+----------------+--------------------+
|movieId|           title|              genres|
+-------+----------------+--------------------+
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 2 rows

In [34]:
# join mostPopularmovie with movieDf, to get the title of the movie
mostPopularMoviesDf = mostPopularDf\
                      .join(movieDf, 
                            movieDf.movieId == mostPopularDf.movieId)\
                      .select(mostPopularDf.movieId, "title", "total_ratings")



mostPopularMoviesDf.show(5)

+-------+--------------------+-------------+
|movieId|               title|total_ratings|
+-------+--------------------+-------------+
|    356| Forrest Gump (1994)|          329|
|    318|Shawshank Redempt...|          317|
|    296| Pulp Fiction (1994)|          307|
|    593|Silence of the La...|          279|
|   2571|  Matrix, The (1999)|          278|
+-------+--------------------+-------------+
only showing top 5 rows

In [43]:
# perform two aggregates, count, avg, 

# aggregation of count of number of votes, +
# aggregation of avg voting
from pyspark.sql.functions import col, desc, avg, count
# count, groupBy
# a movie, rated by more users, dones't count avg rating
# filter, ensure that total_ratings >= 100 users
mostPopularDf = ratingDf\
                .groupBy("movieId")\
                .agg(count("userId").alias("total_ratings"), 
                     avg("rating").alias("avg_rating") )\
                .filter( (col("total_ratings") >= 100) &
                         (col("avg_rating") >= 3))\
                .sort(desc("total_ratings"))
                
mostPopularDf.show(200)

+-------+-------------+------------------+
|movieId|total_ratings|        avg_rating|
+-------+-------------+------------------+
|    356|          329| 4.164133738601824|
|    318|          317| 4.429022082018927|
|    296|          307| 4.197068403908795|
|    593|          279| 4.161290322580645|
|   2571|          278| 4.192446043165468|
|    260|          251| 4.231075697211155|
|    480|          238|              3.75|
|    110|          237| 4.031645569620253|
|    589|          224| 3.970982142857143|
|    527|          220|             4.225|
|   2959|          218| 4.272935779816514|
|      1|          215|3.9209302325581397|
|   1196|          211|4.2156398104265405|
|     50|          204| 4.237745098039215|
|   2858|          204| 4.056372549019608|
|     47|          203|3.9753694581280787|
|    780|          202|3.4455445544554455|
|    150|          201| 3.845771144278607|
|   1198|          200|            4.2075|
|   4993|          198| 4.106060606060606|
|   1210|          196| 4.137755102040816|
|    858|          192|         4.2890625|
|    457|          190|3.9921052631578946|
|    592|          189|3.4285714285714284|
|   5952|          188|4.0212765957446805|
|   2028|          188|4.1462765957446805|
|   7153|          185| 4.118918918918919|
|    588|          183|3.7923497267759565|
|    608|          181| 4.116022099447513|
|   2762|          179| 3.893854748603352|
|    380|          178| 3.497191011235955|
|     32|          177| 3.983050847457627|
|    364|          172| 3.941860465116279|
|    377|          171|3.5292397660818713|
|   1270|          171| 4.038011695906433|
|   4306|          170|3.8676470588235294|
|   3578|          170|3.9382352941176473|
|   1580|          165| 3.487878787878788|
|    590|          164|3.8353658536585367|
|    648|          162| 3.537037037037037|
|    344|          161| 3.040372670807453|
|   4226|          159| 4.122641509433962|
|    367|          157|3.1847133757961785|
|   6539|          149| 3.778523489932886|
|  58559|          149| 4.238255033557047|
|   1214|          146| 3.969178082191781|
|    595|          146|3.7705479452054793|
|   1036|          145|3.8620689655172415|
|    500|          144| 3.388888888888889|
|    165|          144|3.5555555555555554|
|  79132|          143| 4.066433566433567|
|   1265|          143| 3.944055944055944|
|   1197|          142| 4.232394366197183|
|   1704|          141| 4.078014184397163|
|   6377|          141|3.9609929078014185|
|   1721|          140| 3.414285714285714|
|   1291|          140| 4.046428571428572|
|   2628|          140| 3.107142857142857|
|    316|          140|             3.375|
|   1136|          136| 4.161764705882353|
|    597|          135|3.4851851851851854|
|    293|          133| 4.018796992481203|
|   3793|          133| 3.699248120300752|
|    231|          133|3.0601503759398496|
|   1193|          133| 4.203007518796992|
|     10|          132| 3.496212121212121|
|   4886|          132| 3.871212121212121|
|   1240|          131|3.8969465648854964|
|   6874|          131|3.9618320610687023|
|   7361|          131|4.1603053435114505|
|   1089|          131| 4.202290076335878|
|   1221|          129|  4.25968992248062|
|   2329|          129| 4.217054263565892|
|     34|          128|        3.65234375|
|   1213|          126|              4.25|
|   1200|          126|3.9642857142857144|
|   8961|          125|             3.836|
|   1682|          125|             3.812|
|    541|          124| 4.100806451612903|
|   4995|          123|               4.0|
|    736|          123| 3.321138211382114|
|   5349|          122| 3.540983606557377|
|   1097|          122|3.7663934426229506|
|    733|          121|3.6404958677685952|
|   2683|          121|3.1983471074380163|
|   2716|          120|             3.775|
|   4973|          120| 4.183333333333334|
|   5445|          120|            3.6375|
|   1206|          120| 3.995833333333333|
|   4963|          119|3.8445378151260505|
|   1073|          119|3.8739495798319328|
|   1527|          116|3.7456896551724137|
|  33794|          116|3.8620689655172415|
|    587|          115|3.4347826086956523|
|   5989|          115|3.9217391304347826|
|   1968|          113|3.7787610619469025|
|    185|          112|3.0401785714285716|
|   5418|          112|3.8169642857142856|
|   3147|          111| 4.148648648648648|
|   7438|          110| 3.868181818181818|
|    349|          110|3.6045454545454545|
|   3996|          110|3.8363636363636364|
|      2|          110|3.4318181818181817|
|   2918|          109|3.8394495412844036|
|    924|          109|3.8944954128440368|
|    253|          109| 3.458715596330275|
|   4878|          109| 3.981651376146789|
|   1258|          109|  4.08256880733945|
|    329|          108|3.3935185185185186|
|   2115|          108| 3.638888888888889|
|   4896|          107|3.7616822429906542|
|   1208|          107| 4.219626168224299|
|  48516|          107| 4.252336448598131|
|    539|          106|3.4716981132075473|
|   1732|          106|3.9245283018867925|
|   1923|          105| 3.676190476190476|
|  68954|          105| 4.004761904761905|
|     39|          104| 3.293269230769231|
|    111|          104| 4.105769230769231|
|    223|          104| 3.855769230769231|
|  60069|          104|4.0576923076923075|
|    161|          103|3.6359223300970873|
|    357|          103|3.5194174757281553|
|   2706|          103| 3.378640776699029|
|      6|          102| 3.946078431372549|
|   1222|          102| 4.098039215686274|
|   5816|          102|3.5980392156862746|
|    778|          102|  4.03921568627451|
|    434|          101|3.0346534653465347|
|    292|          101|3.4257425742574257|
|    454|          101|3.5346534653465347|
|    912|          100|              4.24|
|   4022|          100|               3.7|
|   1517|          100|             3.535|
|  44191|          100|             3.885|
+-------+-------------+------------------+

In [44]:
# join mostPopularmovie with movieDf, to get the title of the movie
mostPopularMoviesDf = mostPopularDf\
                      .join(movieDf, 
                            movieDf.movieId == mostPopularDf.movieId)\
                      .select(mostPopularDf.movieId, "title", "total_ratings", "avg_rating")



mostPopularMoviesDf.show(5)

+-------+--------------------+-------------+-----------------+
|movieId|               title|total_ratings|       avg_rating|
+-------+--------------------+-------------+-----------------+
|    356| Forrest Gump (1994)|          329|4.164133738601824|
|    318|Shawshank Redempt...|          317|4.429022082018927|
|    296| Pulp Fiction (1994)|          307|4.197068403908795|
|    593|Silence of the La...|          279|4.161290322580645|
|   2571|  Matrix, The (1999)|          278|4.192446043165468|
+-------+--------------------+-------------+-----------------+
only showing top 5 rows

In [51]:
# we will write the result to file system local
# create a folder named "output" in c:
# open command prompt
# run below command to assign permission 
#   winutils.exe chmod -R 777 c:\output

#mostPopularMoviesDf.write.mode('overwrite')\
#                         .csv("file:///c:/output/movies.csv")

mostPopularMoviesDf.toPandas()\
                    .to_csv("c:/movies.csv")