In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.conf import SparkConf

config = SparkConf()
config = config.setMaster("spark://192.168.11.77:7077").setAppName("JOINs:CLUSTER")

In [3]:
conf = \
(
    config
    .set("spark.executor.memory", "2g")
    .set("spark.executor.cores", 4)
    .set("spark.cores.max", 4)
    .set("spark.driver.memory", "2g")
)

In [4]:
from pyspark.sql import SparkSession

ss = SparkSession.builder.config(conf=conf).getOrCreate()

In [5]:
products = (
    # (product_id, product_name, brand_id)  
    (1, 'iPhone', 100),
    (2, 'Galaxy', 200),
    (3, 'RedMi', 300),  # orphan record, no matching brand
    (4, 'Pixel', 400),
)
brands = (
    #(brand_id, brand_name)
    (100, "Apple"),
    (200, "Samsung"),
    (400, "Google"),
    (500, "Sony"),  # no matching product
)
 
df_product = ss.createDataFrame(data=products, schema=("product_id", "product_name", "brand_id"))
df_brand = ss.createDataFrame(data=brands, schema=("brand_id", "brand_name"))

df_product.show(), df_brand.show()

+----------+------------+--------+
|product_id|product_name|brand_id|
+----------+------------+--------+
|         1|      iPhone|     100|
|         2|      Galaxy|     200|
|         3|       RedMi|     300|
|         4|       Pixel|     400|
+----------+------------+--------+

+--------+----------+
|brand_id|brand_name|
+--------+----------+
|     100|     Apple|
|     200|   Samsung|
|     400|    Google|
|     500|      Sony|
+--------+----------+

(None, None)

---

In [6]:
"""
INNER JOIN
df_product (left side of the join) JOIN df_brand (right side of the join)
"""

df_product.join(df_brand, df_product["brand_id"] ==  df_brand["brand_id"], how="inner").show()

+----------+------------+--------+--------+----------+
|product_id|product_name|brand_id|brand_id|brand_name|
+----------+------------+--------+--------+----------+
|         1|      iPhone|     100|     100|     Apple|
|         2|      Galaxy|     200|     200|   Samsung|
|         4|       Pixel|     400|     400|    Google|
+----------+------------+--------+--------+----------+

In [7]:
"""
Same as above.
Common join column ca be specified once.
"""

df_product.join(df_brand, on="brand_id", how="inner").show()

+--------+----------+------------+----------+
|brand_id|product_id|product_name|brand_name|
+--------+----------+------------+----------+
|     100|         1|      iPhone|     Apple|
|     200|         2|      Galaxy|   Samsung|
|     400|         4|       Pixel|    Google|
+--------+----------+------------+----------+

---

In [8]:
"""
OUTER JOIN / FULL OUTER JOIN
Records from both the left + right DFs (whether matches or not)
"""

df_product.join(df_brand, on="brand_id", how="outer").show()

+--------+----------+------------+----------+
|brand_id|product_id|product_name|brand_name|
+--------+----------+------------+----------+
|     500|      null|        null|      Sony|
|     100|         1|      iPhone|     Apple|
|     200|         2|      Galaxy|   Samsung|
|     400|         4|       Pixel|    Google|
|     300|         3|       RedMi|      null|
+--------+----------+------------+----------+

In [9]:
"""
LEFT / LEFT OUTER JOIN
All records from left DF.
Unmatched right DF entries appear as null.
"""

df_product.join(df_brand, on="brand_id", how="leftouter").show()

+--------+----------+------------+----------+
|brand_id|product_id|product_name|brand_name|
+--------+----------+------------+----------+
|     100|         1|      iPhone|     Apple|
|     200|         2|      Galaxy|   Samsung|
|     400|         4|       Pixel|    Google|
|     300|         3|       RedMi|      null|
+--------+----------+------------+----------+

In [10]:
"""
RIGHT / RIGHT OUTER JOIN
All records from right DF.
Unmatched left DF entries appear as null.
"""

df_product.join(df_brand, on="brand_id", how="rightouter").show()

+--------+----------+------------+----------+
|brand_id|product_id|product_name|brand_name|
+--------+----------+------------+----------+
|     500|      null|        null|      Sony|
|     100|         1|      iPhone|     Apple|
|     200|         2|      Galaxy|   Samsung|
|     400|         4|       Pixel|    Google|
+--------+----------+------------+----------+

In [11]:
"""
LEFT-SEMI JOIN
LEFT join with only left-columns retained.
"""

print("-- join(on) --")
df_product.join(df_brand, on="brand_id", how="leftsemi").show()

print("-- join(==) --")
df_product.join(df_brand, df_product["brand_id"] ==  df_brand["brand_id"], "leftsemi").show()

-- join(on) --
+--------+----------+------------+
|brand_id|product_id|product_name|
+--------+----------+------------+
|     100|         1|      iPhone|
|     200|         2|      Galaxy|
|     400|         4|       Pixel|
+--------+----------+------------+

-- join(==) --
+----------+------------+--------+
|product_id|product_name|brand_id|
+----------+------------+--------+
|         1|      iPhone|     100|
|         2|      Galaxy|     200|
|         4|       Pixel|     400|
+----------+------------+--------+

In [12]:
"""
LEFT-ANTI JOIN
Exact Opposite of LEFT-SEMI.
LEFT join returns left df records that don't have a right-df match!
"""

df_product.join(df_brand, on="brand_id", how="leftanti").show()
df_product.join(df_brand, df_product["brand_id"] ==  df_brand["brand_id"], "leftanti").show()

+--------+----------+------------+
|brand_id|product_id|product_name|
+--------+----------+------------+
|     300|         3|       RedMi|
+--------+----------+------------+

+----------+------------+--------+
|product_id|product_name|brand_id|
+----------+------------+--------+
|         3|       RedMi|     300|
+----------+------------+--------+

In [13]:
# Cross Join